</main>
<footer>
  <div class="container">
    <div class="footerLinks">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contribute">Contribute</a> 
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item justify-content-end">
          <a class="nav-link twitterLink" target="_blank" href="https://twitter.com/sirstratalot"><i class="fab fa-twitter"></i> @sirstratalot</a>
        </li>
      </ul>
    </div>
    <div class="smallType">
      Sir Stratalot participates in the Amazon Services LLC Associates Program, and a couple other affiliate programs. When you buy through one of our partner links, we may earn a commission.<a href="/about#affiliatelinks">Learn more</a>
    </div>
    <div class="smallType">
      &copy; 2019 We Are The Holograms Inc. <a href="/cookies">Cookies</a> <a href="/privacy">Privacy</a>
    </div>
  </div>
</footer>
<% include ./modules/footer-scripts %>
<% include ./modules/footer-end %>