<!DOCTYPE html>
<html>
<head>
  <!-- meta -->
  <title>Sir Stratalot<% if(typeof viewTitle == 'string' && viewTitle){ %> | <%= viewTitle %><% } else if(typeof viewTitle == 'object' && viewTitle) { %> | <%= viewTitle %><% } %></title>
  <meta charset="UTF-8">
  <!-- meta tags -->
  <% include ./modules/head-meta-tags %>
  <% include ./modules/head-scripts %>
  <!-- App CSS -->
  <link rel="stylesheet" type="text/css" href="/css/app.min.css">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-562VJ8X" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
  <!-- End Google Tag Manager (noscript) -->
  <header><% include ./modules/navbar %></header>
  <!-- alert -->
  <% include ./modules/alert %>
  <main role="main" class="container-fluid">