<div class="bookNav">
  <a class="nav-link listjsSort active" href="#" data-sort="linkTitle" data-order="asc"><span>Title</span><i class="far fa-sort-alpha-down"></i></a>
  <a class="nav-link listjsSort" href="#" data-sort="linkCreated" data-order="asc"><span>Newest</span><i class="far fa-calendar"></i></a>
  <a class="nav-link listjsSort" href="#" data-sort="linkLikes" data-order="desc"><span>Upvotes</span><i class="fas fa-arrow-alt-up"></i></a>
  <a class="nav-link listjsSort" href="#" data-sort="linkSources" data-order="desc"><span>Sources</span><i class="fas fa-star-of-life"></i></a>
</div>