<!-- OneLink -->
<!-- <% if(typeof onelink == 'boolean' && onelink){ %>
<div id="amzn-assoc-ad-7299bab4-4ab7-43ae-87fb-6ac8148c969d"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=7299bab4-4ab7-43ae-87fb-6ac8148c969d"></script>
<% } %> -->
<!-- GTM dataLayer id -->
<!-- <script>
<% if(currentUser){ %>
window.dataLayer = window.dataLayer || [];
dataLayer.push({
  'userId': '<%= currentUser.id %>'
  });
  <% } %>
</script> -->
<!-- Google Tag Manager -->
<!-- <script>
if (window.location.hostname !== 'localhost'){
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-562VJ8X');
}
</script> -->
<!-- End Google Tag Manager -->
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/22309b094e.js"></script>