<div class="listSort">
  <div class="dropdown show">
    <a class="btn dropdown-toggle" href="#" role="button" id="sortMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Title A-Z</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortMenuLink">
      <a class="dropdown-item listjsSort active" href="#" data-sort="linkTitle" data-order="asc">Title A-Z</a>
      <a class="dropdown-item listjsSort" href="#" data-sort="linkCreated" data-order="asc">Newest</a>
      <a class="dropdown-item listjsSort" href="#" data-sort="linkLikes" data-order="desc">Upvotes</a>
      </div>
  </div>
</div>