<div class="flexTool filterTool">
	<a class="filterLink showAll filter active" data-filter="None" href="#">
		<div class="filterLabel">All Categories</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Article" href="#">
		<div class="filterLabel">Article</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Blog" href="#">
		<div class="filterLabel">Blog</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Book" href="#">
		<div class="filterLabel">Book</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Case Study" href="#">
		<div class="filterLabel">Case Study</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Community" href="#">
		<div class="filterLabel">Community</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Education" href="#">
		<div class="filterLabel">Education</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Meta" href="#">
		<div class="filterLabel">Meta Resource</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Newsletter" href="#">
		<div class="filterLabel">Newsletter</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Opportunity" href="#">
		<div class="filterLabel">Opportunity</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Podcast" href="#">
		<div class="filterLabel">Podcast</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Presentation" href="#">
		<div class="filterLabel">Presentation</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Reference" href="#">
		<div class="filterLabel">Reference Material</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Report" href="#">
		<div class="filterLabel">Report</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Research" href="#">
		<div class="filterLabel">Research Source</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Research Tool" href="#">
		<div class="filterLabel">Research Tool</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Service" href="#">
		<div class="filterLabel">Service</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Toolkit" href="#">
		<div class="filterLabel">Toolkit</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Utility" href="#">
		<div class="filterLabel">Utility</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Video" href="#">
		<div class="filterLabel">Video</div>
		<span class="linkCount badge badge-pill"></span>
	</a>	
</div>