<div class="listSearch">
	<div class="input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"><i class="far fa-search searchIcon"></i></span>
		</div>
		<input id="listjsSearch" class="form-control" spellcheck="false" placeholder="Type to filter names...">
	</div>
</div>