<div class="flexTool filterTool">
	<a class="filterLink showAll filter active" data-filter="None" href="#">
		<div class="filterLabel">All</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Person" href="#">
		<div class="filterLabel">Person</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
	<a class="filterLink filter" data-filter="Organization" href="#">
		<div class="filterLabel">Organization</div>
		<span class="linkCount badge badge-pill"></span>
	</a>
</div>