<div class="listSort">
	<div class="dropdown show">
		<a class="btn btn-sm dropdown-toggle" href="#" role="button" id="sortMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Newest</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortMenuLink">
			<a class="dropdown-item listjsSort" href="#" data-sort="nomTitle" data-order="asc">Title A-Z</a>
			<a class="dropdown-item listjsSort active" href="#" data-sort="nomCreated" data-order="asc">Newest</a>
	    	<a class="dropdown-item listjsSort" href="#" data-sort="nomLikes" data-order="desc">Upvotes</a>
	  	</div>
	</div>
</div>