<div class="listSort">
	<div class="dropdown show">
		<a class="btn btn-sm dropdown-toggle" href="#" role="button" id="sortMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">A-Z</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortMenuLink">
			<a class="dropdown-item listjsSort active" href="#" data-sort="tagName" data-order="asc">A-Z</a>
	    	<a class="dropdown-item listjsSort" href="#" data-sort="tagCount" data-order="desc">Most Links</a>
	  	</div>
	</div>
</div>