// Colors
// Options
// Spacing
// Body
// Links
$link-hover-decoration: none;
// Grid
$grid-gutter-width: 1rem;
// Components
// Fonts
$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: 'tt', 'Georgia', serif;
// Tables
// Buttons + Forms
$input-btn-focus-width: 0;
$input-btn-focus-color: transparent;
$input-btn-focus-box-shadow: none;
$btn-focus-width: 0;
$btn-focus-color: transparent;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$input-focus-width: 0;
$input-focus-box-shadow: none;
// Buttons
// Forms
// Form validation
// Dropdowns
// Z-index
// Navs
// Navbar
// Pagination
// Jumbotron
// Cards
// Tooltips
// Popovers
// Toasts
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Spinners
// Close
// Code
// Utilities
// Printing