.btn {
	border-radius: 0.1875rem;
	line-height: 1;
	padding: ($spacer * 0.5) ($spacer * 0.75);
}
.btn:active, .btn:focus, .btn:active:focus {
	outline: none;
}
.twitterLoginButton {
	border: 1px solid $gray-300;
	font-size: $font-size-sm;
	i {
		margin-right: 0.375rem;
	}
}
.navBarLogin {
	font-size: $font-size-sm;
}