.toolContainer {
  z-index: 80;
  position: sticky;
  top: 4.75rem;
}

.flexTool {
  display: flex;
  flex-direction: column;
  // margin: 0.75rem 0;
  margin-bottom: 1rem;

  @include media-breakpoint-down(md) {
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 0;
    width: 100%;
  }

  .actionButton {
    margin-bottom: 0.75rem;
    padding: 1rem 1.25rem;
    // border: 1px solid $gray-200;
    border: none;
    border-radius: 0.1875rem;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    span {
      font-weight: 600;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      padding: 1.25rem 1.25rem;
    }

  }

  .upvoteButton {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .likeLabel {
      display: none;
    }
    @include media-breakpoint-up(lg){
      &:not(:focus):hover {
        .likeCount {
          display: none;
        }
        .likeLabel {
          display: flex;
        }
      }
    }
    @include media-breakpoint-down(md) {
      justify-content: center;
      flex-basis: 50%;
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 0;
      i {
        padding-right: 0.375rem;
      }
      margin-right: 0.5rem;
    }
  }

  .unlikeButton {
    @include media-breakpoint-up(lg) {
      &:not(:focus):hover {
        i::before {
          content: "\f354";
        }
      }
    }
  }

  .loginButton {
    &:hover {
      .likeCount {
        display: none;
      }
      .likeLabel {
        display: flex;
      }
    }
  }

  .externalLink {
    i {
      padding-left: 0.5rem;
      padding-right: 0;
    }
    span {
      font-weight: 500;
    }
    @include media-breakpoint-down(md) {
      justify-content: center;
      flex-basis: 50%;
      // border-top-left-radius: 0;
      // border-bottom-left-radius: 0;
      // span {
      //  // font-size: $font-size-base;
      //  font-weight: 500;
      // }
    }
  }

  .sourceButton {
    @include media-breakpoint-down(md) {
      justify-content: center;
      flex-basis: 100%;
    }
  }

  .flagTool {
    display: flex;
    // display: none;
    // align-items: baseline;
    justify-content: flex-end;
    margin-top: $spacer;
    font-size: $small-font-size;

    i {
      padding-right: 0.3rem;
      font-size: 80%;
      align-self: center;
    }
    .flagCount {
      font-weight: 500;
      flex-grow: 1;
    }
    @include media-breakpoint-down(md){
      display: none;
    }
  }

  .flagButton, .flagLoginButton {
    margin-bottom: 0;
    border: none;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
  }

  // .flagLoginButton {
  //   // border-radius: 0;
  //   // border: none;
  //   // border-top: 1px solid $gray-300;
  //   .flagCount {
  //     // flex-grow: 1;
  //   }
  // }
}

.showTool {
  margin-top: 2rem;
  @include media-breakpoint-down(md) {
    margin-top: -1rem;
    padding: 1rem 0;
    padding-bottom: 0.5rem;
    // border-top: 1px solid $dark;
    // border-bottom: 1px solid $dark;
  }
}

.adminTool {
  display: flex;
  // display: none;
  justify-content: center;
  margin-top: 4rem;
  padding-top: 0.5rem;
  // border-top: 1px solid $dark;
  @include media-breakpoint-down(md) {
    // display: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-top: 0;
  }
  .adminButton {
    margin-left: 0.375rem;
    margin-right: 0.375rem;
    // margin-bottom: 0.75rem;
    font-size: $font-size-sm;
    // width: 100%;
    &:last-child {
      // margin-bottom: 0;
      // margin-right: 0;
    }
  }
}

// MAYBE DELETE
// .adminHeaderTool {
//  margin-left: auto;
//  align-self: center;
// }

// FILTER TOOL

.filterTool {
  // border-radius: $card-border-radius;
  border-radius: 0.1875rem;
  border: 1px solid $gray-200;
  @include media-breakpoint-down(md) {
    display: none;
  }
  
  // .filterHead {
  //  padding: ($spacer * 0.375) ($spacer * 0.75);
  //  padding: 0.5rem 0.75rem;
  //  font-size: $font-size-sm;
  //  font-weight: 600;
  // }

  .filterLink {
    display: flex;
    align-items: center;
    border-radius: none;
    padding: ($spacer * 0.5) ($spacer * 0.75);
    // padding: 0.5rem 0.75rem;
    .filterLabel {
      flex-grow: 1;
      font-size: $small-font-size;
    }
    &:first-child {
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
    }
  }
  .active {
    font-weight: 600;
  }
  .linkCount {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding-bottom: 0.2em;
    // padding: .25rem .4rem;
    // font-size: 70%;
    font-weight: 600;
    // vertical-align: text-bottom;
    // line-height: 1.2;
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.045em;
  }
}

// .tooltip-inner {
//  padding: $spacer * 0.5;
//  line-height: 1.3;
//  font-size: $font-size-sm;
// }

// .infoTool {
//  flex-direction: column;
//  margin-bottom: ($spacer * -1.5);
//  padding: 1rem;
//  border: 1px solid $light;
//  border-radius: ($spacer * 0.1875);
//  h3 {
//    margin-bottom: ($spacer * 0.5);
//    font-size: $font-size-sm;
//    font-weight: 600;
//  }
//  .infoText {
//    margin-bottom: ($spacer * 0.5);
//    // font-size: $small-font-size;
//    font-size: $font-size-sm;
//  }
//  .nomButton {
//    margin-top: ($spacer * 0.25);
//    width: 100%;
//    // font-weight: 600;
//  }
//  @include media-breakpoint-down(md) {
//    margin-top: $spacer;
//    margin-bottom: $spacer;
//    h3 {
//      font-size: $font-size-base;
//    }
//    .infoText {
//      font-size: $font-size-sm;
//    }
//    .nomButton {
//      font-size: $font-size-sm;
//      font-weight: normal;
//    }
//  }
// }

// .userInfo {
//  display: flex;
//  flex-direction: column;
//  // margin-top: ($spacer * 2.5);
//  padding: 0.5rem;
//  border: 1px solid $gray-200;
//  border-radius: $card-border-radius;

//  .userInfoHeader {
//    // padding: 0.5rem 0.75rem;
//    h3 {
//      // padding: 0.5rem 0;
//      font-size: $small-font-size;
//      letter-spacing: normal;
//      font-weight: 600;
//      line-height: 1.5;
//      // margin-bottom: ($spacer * 0.4);
//    }
//    .userInfoDesc {
//      font-size: $small-font-size;
//      // line-height: 1
//    }
//  }
//  .userInfoItem {
//    // padding-top: $spacer;
//    // padding: $spacer;
//    border-top: 1px solid $gray-200;
//    color: $text-muted;
//    h4 {
//      font-size: $small-font-size;
//      margin-bottom: ($spacer * 0.25);
//      font-weight: normal;
//    }
//    .userInfoData {
//      font-size: $font-size-sm;
//    }
//  }
  // @include media-breakpoint-down(md) {
  //  margin-top: $spacer;
  //  .userInfoHeader {
  //    h3 {
  //      font-size: $font-size-base;
  //    }
  //    .userInfoDesc {
  //    font-size: $font-size-sm;
  //    }
  //  }
  //  .userInfoItem {
  //    h4 {
  //      font-size: $font-size-sm;
  //    }
  //    .userInfoData {
  //      font-size: $font-size-base;
  //    }
  //  }
  // }
// }