#loginModal {
	.modal-dialog {
		margin-top: ($spacer * 5.5);
		@include media-breakpoint-down(md){
			max-width: 80%;
		}
	}

	.modal-header {
		// padding-bottom: 0;
		border: none;
	}

	.modal-body {
		padding: 2rem;
		padding-top: 0;
		// padding-bottom: ($spacer * 2.5);
		// padding-left: $spacer * 2;
		// padding-right: $spacer * 2;
		h1 {
			font-size: $h2-font-size;
			letter-spacing: -0.022em;
		}
		p {
			margin-bottom: ($spacer / 2);
		}
		strong {
			font-weight: 600;
		}
		@include media-breakpoint-down(md) {
			h1 {
				// font-size: $h2-font-size;
			}
			p {
				// font-size: $font-size-sm;
			}
		}
	}

	.modalEmoji {
		font-size: $h2-font-size;
	}

	.modal-title {
		margin-bottom: 0.75rem;
		// letter-spacing: ($spacer * -0.075);
		line-height: 1;
		font-weight: 700;
	}

	.modalLogin {
		margin: 2rem 0;
		.twitterLoginButton {
			padding: 1rem 1.25rem;
			font-size: $font-size-sm;
			i {
				margin-right: 0.375rem;
			}
			@include media-breakpoint-down(md) {
				font-size: $font-size-base;
			}
		}
	}

	.modalSmallType {
		font-size: $small-font-size;
		letter-spacing: normal;
		@include media-breakpoint-down(md) {
			font-size: 75%;
		}
	}

}