<% include ../partials/header %>
<div class="row justify-content-lg-center desireBlock">
  <div class="col-lg-9">
    <div class="container">
      <div class="jumbotron text-center indexJumbo desireHeader">
        <div class="smallHead">
          404 Error
        </div>
        <h1 class="balance-text">
          Hey, that’s not a thing.
        </h1>
        <div class="indexSubtitle">
          Did we fuck up? If you think so, send an email to wtf at sirstratalot dot com.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-9">
    </div>
  </div>
</div>
<% include ../partials/footer %>