<% include ../partials/header %>
<div class="row aboutBlock headerMargin">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-9">
        <div class="jumbotron text-center">
          <div class="smallHead">
            About Sir Stratalot
          </div>
          <h1 class="balance-text">
            Real answers to fake questions.
          </h1>
          <div class="indexSubtitle balance-text">
            Everything you might care to know and then some.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card pageCard pageLinks">
        <div class="card-body">
          <ul class="card-text list-unstyled">
            <li class="list-item pageLinksHeader">Last updated July 16, 2019</li>
            <a href="#whatisthis"><li>So what’s this all about?</li></a>
            <a href="#whomadethis"><li>Who made this?</li></a>
            <a href="#whysirstratalot"><li>Why is it called Sir Stratalot?</li></a>
            <a href="#affiliatelinks"><li>What are you trying to sell me?</li></a>
            <a href="#somethingbroke"><li>Something broke on the site. Want to hear about it?</li></a>
            <a href="#curation"><li>How did/do you decide what gets added to the site?</li></a>
            <a href="#whatstheinsight"><li>What’s the real problem here?</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card pageCard">
        <div class="card-body">
          <div id="whatisthis" class="anchor"></div>
          <h2 class="card-title">
            So what’s this all about?
          </h2>
          <p class="card-text">
            Sir Stratalot is a directory of planning and strategy links. If you work in advertising or marketing, if your job title has the word planner or strategist in it, or if you aspire to any of the above—I hope you find this site useful.
          </p>
        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="whomadethis" class="anchor"></div>
          <h2 class="card-title">
            Who made this?
          </h2>
          <p class="card-text">
            Hi, and welcome. I’m Eugene Hwang, a freelance strategist in NYC.
          </p>
          <p class="card-text">
            When I left my last full time role in 2018, I took a bit of time off and started learning web development, instead of traveling the world like a normal fucking person. This is the first public facing result of that effort. 
          </p>
          <p class="card-text">
            Want to talk about this site, a project, strategy in general, the industry, web development, science fiction, politics, religion, death, or anything else? Find me on <a href="https://twitter.com/eugenehwang" target="_blank">Twitter</a> or <a href="https://www.linkedin.com/in/eugenehwang" target="_blank">LinkedIn</a>, or email <em>eugene at sirstratalot dot com</em>. I don’t have a Soundcloud.
          </p>
        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="whysirstratalot" class="anchor"></div>
          <h2 class="card-title">
            Why is it called Sir Stratalot?
          </h2>
          <p class="card-text">
            It’s literally the first thing that popped into my head. I don’t know why, but the self-evidently stupid name stuck. It’s not like I go LARPing as Sir Stratalot... the third weekend of every month... in the woods behind the senior center.
          </p>
          <p class="card-text">
            The name is meant to be silly. It’s also gendered, and I don’t love that. If you think it sucks, for that or any other reason, feel free to tell me.
          </p>
        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="affiliatelinks" class="anchor"></div>
          <h2 class="card-title">
            What are you trying to sell me?
          </h2>
          <p class="card-text">
            No hidden agenda, but I would like for this project to become reasonably self-sustaining. Like at least cover the hard monthly costs of keeping the site online. So there are a couple ways for this site to earn a bit of revenue, and for you to help support it.
          </p>
          <p class="card-text">
            First, we feature books on planning and strategy and so on, which link to Amazon. (Mostly books, but also the odd non-book product.) If you buy from Amazon via those links, we may get a small percentage cut of the selling price as commission. These are clearly labeled as Amazon links, but aren’t otherwise indicated in any special way... frankly because there are lots of books and putting an additional icon or label on all of them offended me aesthetically.
          </p>
          <p class="card-text">
            Second, some links are tagged <a class="supportTag" href="/tags/support">❤️ support</a>. That tag indicates a non-Amazon partner link, meaning we’ve got an affiliate relationship with that product or service, and some combination of signup and/or purchase may also earn us a commission. There are only a couple so far, and I will aim to keep these to a reasonable number (see ‘offended me aesthetically’ above).
          </p>
          <p class="card-text">
            I won’t blather about editorial independence. If I’ve put something on the site, it’s because I think at least a few of you might have some interest in it.
          </p>
          <p class="card-text">
            Most likely scenario is that the above won’t add up to much. If you’d like to straight up donate, or partner/sponsor in some other way, check out <a href="/contribute">all the ways to contribute</a>.
          </p>
        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="somethingbroke" class="anchor"></div>
          <h2 class="card-title">
            Something broke on the site. Want to hear about it?
          </h2>
          <p class="card-text">
            Yes, definitely. You can DM <a href="https://twitter.com/sirstratalot" target="_blank">@sirstratalot on Twitter</a>. Even better, email <em>wtf at sirstratalot dot com</em> with as much detail as you can muster about what broke and what you were doing when it happened.
          </p>
        </div>
      </div>

      <div class="card pageCard">
        <div class="card-body">
          <div id="curation" class="anchor"></div>
          <h2 class="card-title">
            How did/do you decide what gets added to the site?
          </h2>
          <p class="card-text">
            Links get added to Sir Stratalot in three ways.
          </p>
          <p class="card-text">
            <strong>Existing recommendations.</strong>
            Others have assembled and shared their own collections of resources in the past. <a href="https://twitter.com/itsopenstrategy" target="_blank">Open Strategy</a> and <a href="https://twitter.com/juliancole" target="_blank">Julian Cole</a> (who seems to come out with new resources every damn week) especially deserve a big shout out. So lots of content comes from what’s already out there, and will continue to. Individual link pages attribute sources—usually one of those collections, sometimes a single individual or tweet. Here are <a href="/sources">all of our repeatedly referenced sources</a>.
          </p>
          <p class="card-text">
            <strong>Personal experience.</strong>
            Things I’ve found personally useful in the past have made their way into Sir Stratalot. Many were likely recommended or linked from elsewhere, but I haven’t exhaustively tracked the provenance of my bookmarks for years. If a link’s sources only mention Sir Stratalot, I don’t know where it came from.
          </p>
          <p class="card-text">
            <strong>Your help.</strong>
            This is the most important one. When you sign in with Twitter, you acquire two magical abilities: <em>upvoting</em> and <em>submitting</em> links. Upvoting helps everyone see what others found most useful. Submitting nominations helps grow the directory. You can also upvote nominees—and periodically, I’ll add the most popular to the official index. (If it turns out nobody bothers with submitting, which is very possible, I’ll come up with another way to vet new links and let you know.)
          </p>
        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="whatstheinsight" class="anchor"></div>
          <h2 class="card-title">
            What’s the real problem here? What’s the insight? Is that really an insight? More of an observation, isn’t it?
          </h2>
          <p class="card-text">
            Hey, thanks for hanging out. Let’s definitely do it again sometime.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>