<% include ../partials/header %>
<div class="row justify-content-lg-center">
  <div class="col-lg-9">
    <div class="jumbotron text-center">
      <div class="smallHead">
        Not the tasty kind
      </div>
      <h1 class="balance-text">
        Cookie Policy
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="card pageCard pageLinks">
        <div class="card-body">
          <ul class="card-text list-unstyled">
            <li class="list-item pageLinksHeader">
              Effective July 24, 2019
            </li>
            <a href="#whatarecookies"><li class="list-item">What are cookies?</li></a>
            <a href="#cookieusage"><li class="list-item">What do you use cookies for?</li></a>
            <a href="#specificcookies"><li class="list-item">What specific cookies does Sir Stratalot use on this site?</li></a>
            <a href="#nocookies"><li class="list-item">What if I don’t want to use cookies?</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card pageCard">
        <div class="card-body">
          <div id="whatarecookies" class="anchor"></div>
          <h2 class="card-title">
            What are cookies?
          </h2>
          <p class="card-text">
            Cookies are very small text files that your web browser stores on your computer, phone, or other device you use to access websites. These files help Sir Stratalot improve the website experience. <a href="https://cookies.insites.com" target="_blank">Cookies & You</a> offers a good and simple explanation of cookies if you’d like to know more.
          </p>
        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="cookieusage" class="anchor"></div>
          <h2 class="card-title">
            What do you use cookies for?
          </h2>
          <p class="card-text">
            Sir Stratalot uses two kinds of cookies, for different reasons:
          </p>
          <p class="card-text">
            <strong>Cookies necessary for site functionality.</strong> We use cookies that enable us to figure out if you’re an authenticated user, i.e., currently signed in. This is essential for the site to work as intended.
          </p>
          <p class="card-text">
            <strong>Third party cookies that help us make the site better over time.</strong> We use cookies to understand how people use the website, and therefore what can be improved. Google Analytics cookies fall into this category.
          </p>
        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="specificcookies" class="anchor"></div>
          <h2 class="card-title">
            What specific cookies does Sir Stratalot use on this site?
          </h2>
          <p class="card-text">
            <strong>Sir Stratalot.</strong> sirstratalot_session, sirstratalot_session.sig
            <br>These cookies tell us if you’re signed in. If you are, it lets you do things like submit, upvote, and report links during your visit. If you are not, it makes sure you can’t. This cookie expires after 180 days by default.
          </p>
          <p class="card-text">
            <strong>Necessary third party cookies.</strong>
            <br>Some cookies are for necessary site services: cookiebot.com serves up the cookie notification and opt-in if you’re in the EU, and googletagmanager.com makes sure Google Analytics doesn’t run if you don’t accept. Other services deliver necessary assets: cloudflare.com, cloudinary.com, fontawesome.com, and rsms.me.
          </p>
          <p class="card-text">
            <strong>Google Analytics.</strong> collect, _ga, _gid, _gat_UA-somethingsomething
            <br>Third party cookies that Google Analytics uses to anonymously track website usage. These cookies can last as long as two years. If you like, you can <a href="https://support.google.com/analytics/answer/6004245" target="_blank">learn more about how Google Analytics uses cookies</a>. 
          </p>

        </div>
      </div>
      <div class="card pageCard">
        <div class="card-body">
          <div id="nocookies" class="anchor"></div>
          <h2 class="card-title">
            What if I don’t want to use cookies?
          </h2>
          <p class="card-text">
            That is an option! You can <a href="https://cookies.insites.com/disable-cookies" target="_blank">disable cookies</a>.
          </p>
          <p class="card-text">
            But please note that if you disable cookies, Sir Stratalot may not work as intended. In particular, you will not be able to sign in or use any functionality designed for users who are signed in.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>