footer {
	// https://css-tricks.com/couple-takes-sticky-footer/ (flexbox approach)
	flex-shrink: 0;
	margin-top: 4rem;
	padding: 1rem;
	padding-bottom: 1.5rem;
	// font-size: $font-size-sm;
	@include media-breakpoint-down(md) {
		// margin-top: 0;
		padding: 1rem;
	}

	.footerLinks {
		display: flex;
		justify-content: space-between;
		// font-size: $font-size-sm;
		@include media-breakpoint-down(md) {
			// font-size: $font-size-sm;
		}
	}

	.footerLinks.nav {

	}

	.nav-link {
		padding: 0.75rem 0;
		padding-right: 1rem;
		@include media-breakpoint-down(md) {
			// padding-top: $spacer/2;
		}
	}

	.twitterLink {
		font-feature-settings: 'case' 1;
		padding-right: 0;
	}

	.smallType {
		// text-align: center;
		padding: 0.75rem 0;
		font-size: $small-font-size;
		letter-spacing: normal;
		max-width: 60ch;
		a {
			margin-left: 0.5rem;
		}
		@include media-breakpoint-down(md) {
			// max-width: 100%;
		}		
	}

}