.jumbotron {
  padding: 4rem 1rem;
  text-align: center;
  h1 {
    margin-bottom: 0;
    font-size: $display4-size;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.03em;
  }
  width: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    h1 {
      font-size: 3rem;
      letter-spacing: -0.045em;   
    }
  }
}

.aboutBlock {
  margin-bottom: 2.5rem;
}

.nomFormBlock {
  margin-bottom: 0.75rem;
}

.userHeader {
  margin-bottom: 0;
}

.listHeader {
  padding-top: 4rem;
  margin-bottom: 1rem;
  border-bottom: none;
}
.listHeadline {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: -0.022em;
    line-height: 1.1;
    margin-bottom: 0;
    i {
      margin-left: 0.75rem;
      align-self: center;
    }
    .tagIcon {
      margin-left: 0;
      margin-right: 0.75rem;
    }
  }
  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
    h1 {
      font-size: $h2-font-size;
    }
  }
}

.linkImage {
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  img {
    // background: #f3f4f6;
    max-height: 24rem;
    border-radius: 0.1875rem;
    object-fit: contain;
  }
  @include media-breakpoint-down(md){
    padding-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.bookImage {
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  img {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    max-height: 16rem;
    // height: 12rem;
    object-fit: cover;
  }
  @include media-breakpoint-down(md){
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    // img {
    // }
  }
}

.headerDivider {
  padding-top: 2.75rem;
  // border-top: 1px solid $gray-200;
  @include media-breakpoint-down(md){
    border: none;
  }
}

.linkTitle {
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 2.375rem;
  margin-bottom: 0rem;
  border-bottom: 1px solid $gray-200;
  h1 {
    margin-bottom: 0;
    font-weight: 700;
    font-feature-settings: 'case' 1;
    letter-spacing: -0.022em;
    line-height: 1.1;
  }
  // h1.imageTitle {
  //   font-size: $h3-font-size;
  //   margin-bottom: 0;
  //   font-weight: 600;
  //   font-feature-settings: 'case' 1;
  //   letter-spacing: -0.022em;
  //   line-height: 1.2;
  // }

  @include media-breakpoint-down(md) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 2.25rem;
    h1 {
      font-size: $h2-font-size;
    }
    h1.imageTitle {
      font-size: $h3-font-size;
    }
  }
}

.linkTitle.makerTitle {
  padding-top: 4rem;
  padding-bottom: 2.3125rem;
  border-bottom: 1px solid $gray-200;
  @include media-breakpoint-down(md) {
    padding-bottom: 2.25rem;
  }
}

.linkTitle.userTitle {
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-bottom: none;
}

.linkSubtitle {
  display: block;
  padding-top: 0.5rem;
  font-size: $font-size-sm;
  @include media-breakpoint-down(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .linkMakers {
    display: inline;
  }
  .metaItem {
    display: inline;
    white-space: nowrap;
  }
  .metaItemMaker {
    display: inline;
    white-space: nowrap;
    font-feature-settings: 'case' 1;
    &::after {
      content: ", ";
      margin-left: -.2rem;
      color: #9ca2a9;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        content: none;
      }
    }
  }
  .metaDivider {
    display: inline;
    font-size: $small-font-size;
    line-height: 1.875;
    vertical-align: 0.125em;
    padding: 0 0.2rem;
  }
  .makerHeaderChannel {
    padding: 0 0.25rem;
    font-feature-settings: 'case' 1;
    white-space: nowrap;
  }
}

.formTitle {
  h1 {
    font-size: $display4-size;
    letter-spacing: -0.022em;
    margin-bottom: 0;
  }
}